<% layout('layouts/boilerplate') %>







    <div class="row">

        <h1 class="text-center">Register</h1>
        <div class="col-6 offset-3">

            <form action="/register" method="POST" novalidate class="validated-form">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="title" class="form-control" name="username" required>

                    <div class="valid-feedback">Looks Good</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" id="email" class="form-control" name="email" required>
                    <div class="valid-feedback">Looks Good</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" id="password" class="form-control" name="password" required>
                    <div class="valid-feedback">Looks Good</div>
                </div>
<button class="btn btn-success">Register</button>

            </form>
        </div>